@model IEnumerable<QuizSystemModel.Models.Student>

@{

    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Students";
}

<h2>Students</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Education Medium</th>
            <th>Class</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.EducationMedium?.Name</td>
                <td>@item.Class?.Name</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
